<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The world of taste</title>
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/jquery/css")
    @Styles.Render("~/bundles/style/css")
    @Styles.Render("~/bundles/style_1/css")
</head>

<body class="back_col">

    @Html.Partial("Header")




  @RenderBody()


    <footer> </footer>

    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/jquery-ui/js")
</body>


</html>