@model Domain.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLog.cshtml";
}

@using (Html.BeginForm("Login", "SignIn", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-wrapper is-active">
        <button type="button" class="switcher switcher-login">
            Sign In
            <span class="underline"></span>
        </button>
        <form class="form form-login">
            <fieldset>
                <div class="input-block">
                    <label for="login-email">Login</label>
                    @*<input id="login-email" type="login" required>*@
                    @Html.EditorFor(model => model.UserLogin, new { htmlAttributes = new { @class = "", @id = "login-email" } })
                </div>
                <div class="input-block">
                    <label for="login-password">Password</label>
                    @*<input id="login-password" type="password" required>*@
                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "", @id = "login-password" } })

                </div>
            </fieldset>
            <button type="submit" class="btn-login">Login</button>
            <p class="Regist">
                Not registered yet?
                @Html.ActionLink("Create account", "Registration", "SignIn");
            </p>
        </form>
    </div>
}

@*@using (Html.BeginForm("Login", "SignIn", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="Login_block">
            <a href="~/Home/Index">
                <img class="logo" alt="Logo" src="~/Content/images/logo.png" />
            </a>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.EditorFor(model => model.UserLogin, new { htmlAttributes = new { @class = "login", @id = "email" } })
            @Html.ValidationMessageFor(model => model.UserLogin, "", new { @class = "text-warning" })

            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "password", @id = "password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-warning" })

            <input class="button" type="submit" value="Enter" />

            <p class="Regist">
                Not registered yet?
                @Html.ActionLink("Create account", "Registration", "SignIn");
            </p>
        </div>
    }*@
